/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:      #28282899;
    background-alt:  #28282899;
    foreground:      #e0def4FF;
    foreground-text: #e0def4FF;
    selected:        #286983FF;
    active:          #c4a7e7FF;
    urgent:          #eb6f92FF;
    border:          #eb6f92FF;
}
