/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:      #28282899;
    background-alt:  #28282899;
    foreground:      #d4be98;
    foreground-text: #d4be98;
    selected:        #d4be98;
    active:          #98D4A0FF;
    urgent:          #D498CCFF;
    border:          #484848FF;
    dim-gray:        #6e6a86FF;
}
